html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F6F6F6;
}

.form-signin {
    max-width: 480px;
    padding: 15px;
}

.form-control {
    padding: 0;
    background-color: white !important;
}

.form-control:focus {
    border-color: #DB7B3A;
    box-shadow: 0 0 0 0.2rem rgba(219, 123, 58, 0.25);
    color: #DB7B3A;
 }

button.btn-primary {
    background-color: #f58b45;
    border-color: #DB7B3A;
}

button.btn-primary:hover {
    background-color: #B54A03;
}

.btn.btn-primary:disabled {
    background-color: #C3C3C3;
    color: black;
    border-color: #C3C3C3;
}

.rounded-left {
    border-radius: 50rem 0 0 50rem !important;
    border-right-width: 0 !important;
}

.rounded-right {
    border-radius: 0 50rem 50rem 0 !important;
    border-left-width: 0 !important;
}

.icon-username {
    padding: 0.375rem 2.125rem;
    background: url("images/person-fill.svg") no-repeat left;
    background-position-x: 0.75rem;
    background-size: 20px;
}

.icon-lock {
    padding: 0.375rem 2.125rem;
    background: url("images/lock-fill.svg") no-repeat left;
    background-position-x: 0.75rem;
    background-size: 20px;
}

.icon-arrow {
    background-size: 20px;
    background: url("images/arrow-right-circle.svg") no-repeat right 20px top 3px;
    background-size: 30px;
}

.stripe {
    border-top: 20px solid #DB7B3A;
}

.footer {
    width: 100%;
    background-color: #E8E8E8;
}

.w-60 {
    width: 60%;
}

.border-bottom {
    border-bottom: 2px solid #DB7B3A !important;
}

.page-link {
    color: black;
    padding: 0.375rem;
}

.page-link:hover {
    color: gray;
}

.active .page-link {
    color: black;
}

.active .page-link:hover {
    color: gray;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: white;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #E6E6E6;
}

.table>:not(caption)>*>* {
    box-shadow: none;
}

.logout {
    background-color: transparent;
}

.logout:hover {
    box-shadow: 0 2px 1px -1px black;
}

.error-text {
    position: absolute;
    max-width: 480px;
}